{% extends "layout.html" %}
{% block body %}
    {% if events %}
      <table>
        <tr>
          <td>Alertname</td>
          <td>Namespace</td>
          <td>Message</td>
          <td>Triggered</td>
        </tr>
        {% for event in events %}
          {% if event.silenced == "Yes" %}
            <tr class="event_{{ event.status }} event_silenced">
          {% else %}
            <tr class="event_{{ event.status }}">
          {% endif %}
          <td class="clientName">{{ event.client_name }}</td>
          <td class="checkName">{{ event.check_name }}</td>
          <td class="checkOutput">{{ event.output }}</td>
          <td class="checkSilenced">{{ event.silenced }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h1 id="all_green">Everything is probably alright</h1>
    {% endif %}
    </section>
{% endblock %}
