{% extends "layout.html" %}
{% block body %}
    {% if deadmansswitch %}
        <h1 id="all_green">Dead Mans Snitch triggered</br> The alerting system is down!</h1>
    {% elif events%}
        <table>
            <tr>
                <td>Alertname</td>
                <td>Namespace</td>
                <td>Message</td>
                <td>Triggered</td>
            </tr>
            {% for event in events %}
                {% if event.silenced == "Yes" %}
                    <tr class="event_{{ event.severity }} event_silenced">
                        {% else %}
                    <tr class="event_{{ event.severity }}">
                {% endif %}
            <td class="clientName">{{ event.alertname }}</td>
            <td class="checkName">{{ event.namespace }}</td>
            <td class="checkOutput">{{ event.message }}</td>
            <td class="checkSilenced">{{ event.triggered }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1 id="all_green">Everything is probably alright</h1>
    {% endif %}
    </section>
{% endblock %}
