{% extends "layout.html" %}
{% block body %}
    {% if events %}
      <table>
        <tr>
          <td>Host</td>
          <td>Check</td>
          <td>Output</td>
          <td>Silenced</td>
        </tr>
        {% for event in events %}
          {% if events[event].silenced == "Yes" %}
            <tr class="event_{{ events[event].status }} event_silenced">
          {% else %}
            <tr class="event_{{ events[event].status }}">
          {% endif %}
          <td class="clientName">{{ events[event].client_name }}</td>
          <td class="checkName">{{ events[event].check_name }}</td>
          <td class="checkOutput">{{ events[event].output }}</td>
          <td class="checkSilenced">{{ events[event].silenced }}</h3>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h1 id="all_green">ALL GREEN</h1>
    {% endif %}
    </section>
{% endblock %}
