/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100%;
    color: #222020;
    float: left;
}
.background_critical { background: #FC4445; }
.background_warning  { background: #FF652F; }
.background_unknown  { background: #747474; }
.background_ok       { background: #86C232; }
header {
    display: block;
    padding: 0.75em 0;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    margin: 0 auto;
}
table {
    color: #000000;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
}
table tr:first-child {
    font-size: 1em;
    background: #25282b; 
    color: #e3e3e3;
    text-align: center;
    text-indent: 0;
    border-bottom: 1px solid #e3e3e3;
    border-top: 0; border-left: 0; border-right: 0;
}
table tr:first-child td {
    padding: 0.5em 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #e3e3e3;
    color: white;
}
table tr:first-child td:first-child { border-width: 0 0 0 0; }
table tr:first-child td:last-child { border-width: 0 0 0 0; }
table tr {
    border: 1px solid #e3e3e3;
}
table tr td {
    font-size: 1em;
    padding: 0.25em 0;
}
table tr td.clientName {
    width: 15%;
    padding: 0 0 0 1%;
}
table tr td.checkName {
    width: 7%;
    text-align: center;
    border-left: 1px solid #e3e3e3;
}
table tr td.checkOutput {
    width: 50%;
    padding: 0 0 0 1%;
    border-left: 1px solid #e3e3e3;
}
table tr td.checkSilenced {
    width: 7%;
    text-align: center;
    border-left: 1px solid #e3e3e3;
}
.event_warning {
    background: #ffb744;
}
.event_critical {
    background: #ed1f28;
}
.event_none {
    background: #00b7bf;
}
.event_silenced {
  background: #00E30F; 
}

#all_green {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}
